body {
    background-color: darkkhaki;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-size: 64px;
    color: darkblue;
    text-align: center;
}

p {
    color: darkred;
    font-size: 24px;
}

.ul-container {
    border: 1px solid steelblue;
    width: 400px;
    margin: 0 auto;

    background-color: steelblue;
}

ul {
    font-style: italic;
    color: darkkhaki;
}

ul h4 {
    font-size: 24px;
    text-align: center;
}

li {
    font-weight: normal;
    font-size: 18px;
    margin: 10px;
}