body {
    background-color: darkkhaki;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-size: 64px;
    color: darkblue;
    text-align: center;
}

p {
    color: darkred;
    font-size: 24px;
}

